body
{
    font-family: 'IBM Plex Serif', serif;
    margin:0;
}
.mission,.target
{
    display:flex;
    margin-left:60px;
    margin-bottom:100px;
}
.mission div
{
    width:45%;
    padding:0 5%;
}
.mission div img
{
    width:80%;
}
.information
{
    margin-top:70px;
    text-align:justify;
}
.information h1
{
    font-size:55px;
    padding-left:10px;
    border-left:5px solid;
    border-radius:5px;
    line-height:80px;
    border-image:linear-gradient(tomato,red);
    border-image-slice: 1;
}
.information h2 
{
    line-height:50px;
    font-size:35px;
    margin-left:15px;
}
.color
{
    color:rgb(255, 121, 72);
}
.information p
{
    
    margin:40px 0 40px 15px;
}
a
{
    
    text-decoration:none;
    margin-left:10px;
    background-image:linear-gradient(rgb(255, 117, 93),rgb(255, 7, 7));
    color:white;
    padding: 10px 30px;
    border-radius:5px;
}
.target div
{
    width:25%;
    margin-left:55px;
    border-radius:20px;
    padding:0 20px;
    text-align: justify;
}
#title-of-mission
{
    font-size:40px;
    margin-left:38%;
    color:rgb(27, 51, 87);
}
.three-goal img
{
    width:30%;
}
#goal-one
{
background-color:rgba(38, 0, 255, 0.103);
}
#goal-two
{
    background-color:rgba(255, 192, 203, 0.411);

}
#goal-three
{
    background-color:rgba(219, 169, 103, 0.562);
}
.out-image
{
    margin-top:70px;
}
#background1
{
    background-image: url("images/dream-bg.png");
    height:100vh;
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: left;
}
#background2
{
    background-image: url("images/shapes/shape-1.png");
    height:100vh;
    background-size:200px;
    background-repeat:no-repeat;
    background-position-x:left 100px;
    background-position:right;
}
footer
{
    background-color:rgb(25, 23, 34);
    color:white;
    padding:20px;
}
footer h1
{
    margin-left:40%;
}
footer p
{
    margin-left:32%;
}
footer span
{
    color:rgb(236, 190, 133);
}